<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.AddMienNam_Activity"></activity>
        <activity android:name=".activity.AddMienBac_Activity" />
        <activity android:name=".activity.AddMienTrung_Activity" />
        <activity android:name=".network.chonanh" />
        <activity android:name=".MienNam_Activity" />
        <activity android:name=".MienTrung_Activity" />
        <activity android:name=".MienBac_Activity" />
        <activity android:name=".Main_Activity">
        </activity>
        <activity android:name=".Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>